.boardContainer {
	display: grid;
	grid-template-columns: repeat(3, max-content);
	grid-template-rows: repeat(3, max-content);
	gap: 0.25rem;

	grid-template-areas:
		'. opponent right-panel'
		'left-panel board right-panel'
		'move-nav player right-panel';
}

.board {
	grid-area: board;
}

.moveNav {
	grid-area: move-nav;
	align-self: center;
	justify-self: center;
	width: 100%;
}

.opponent {
	grid-area: opponent;
}

.player {
	margin: auto;
}

.playerContainer {
	grid-area: player;
	display: grid;
	grid-template-columns: 1fr 200px 1fr;
}

.actionsPanel {
	@apply space-x-1;
	display: flex;
	justify-content: flex-end;
	font-size: small;
}


.leftPanel {
	grid-area: left-panel;
	display: flex;
	width: 142px;
	flex-direction: column;
	align-items: flex-start;
}

.rightPanel {
	grid-area: right-panel;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
