.boardContainer {
	width: 100%;
}

.boardContainer.showHistory {
	display: grid;
	grid-template-columns: max-content 1fr max-content 1fr max-content;
	grid-template-rows: max-content 1fr max-content;
	grid-template-areas:
		'top-left-actions .                   opponent clock-opponent .'
		'move-history     board               board    board          captured-pieces'
		'move-nav         bottom-left-actions player   clock-player   .';
}

.boardContainer.hideHistory {
	display: grid;
	grid-template-columns: 1fr max-content 1fr max-content;
	grid-template-rows: max-content 1fr max-content;
	grid-template-areas:
		'top-left-actions    opponent clock-opponent .'
		'board               board    board          captured-pieces'
		'bottom-left-actions player   clock-player   .';
}

@media screen and (max-aspect-ratio: 7/6) {
	.boardContainer.showHistory {
		grid-template-columns: 1fr max-content max-content 1fr;
		grid-template-rows: repeat(6, min-content);
		grid-template-areas:
			'top-left-actions    opponent        opponent        clock-opponent'
			'board               board           board           board'
			'bottom-left-actions player          player          clock-player'
			'captured-pieces     captured-pieces captured-pieces captured-pieces'
			'move-nav            move-nav        move-nav        move-nav'
			'move-history        move-history    move-history    move-history';
	}

	.boardContainer.hideHistory {
		grid-template-columns: 1fr max-content 1fr max-content;
		grid-template-rows: min-content auto min-content auto;
		grid-template-areas:
			'top-left-actions    opponent        opponent        clock-opponent'
			'board               board           board           board'
			'bottom-left-actions player          player          clock-player'
			'captured-pieces     captured-pieces captured-pieces captured-pieces';
	}
}

.board {
	grid-area: board;
}

.bottomLeftActions {
	grid-area: bottom-left-actions;
}

.topLeftActions {
	grid-area: top-left-actions;
}

.moveNav {
	grid-area: move-nav;
}

.bottomPlayer {
	grid-area: player;
}

.clockBottomPlayer {
	grid-area: clock-player;
}

.topPlayer {
	grid-area: opponent;
}

.clockTopPlayer {
	grid-area: clock-opponent;
}

.moveHistoryContainer {
	grid-area: move-history;
}

.capturedPiecesContainer {
	grid-area: captured-pieces;
}

/*.piece.wqueen {
	background-image: url('/pieces/wQueen.svg');
}
.piece.wbishop {
	background-image: url('/pieces/wBishop.svg');
}
.piece.wking {
	background-image: url('/pieces/wKing.svg');
}
.piece.wknight {
	background-image: url('/pieces/wKnight.svg');
}
.piece.wpawn {
	background-image: url('/pieces/wPawn.svg');
}
.piece.wrook {
	background-image: url('/pieces/wRook.svg');
}
.piece.bqueen {
	background-image: url('/pieces/bQueen.svg');
}
.piece.bbishop {
	background-image: url('/pieces/bBishop.svg');
}
.piece.bking {
	background-image: url('/pieces/bKing.svg');
}
.piece.bknight {
	background-image: url('/pieces/bKnight.svg');
}
.piece.bpawn {
	background-image: url('/pieces/bPawn.svg');
}
.piece.brook {
	background-image: url('/pieces/bRook.svg');
}
.piece.duck {
	background-image: url('/pieces/duck.svg');
}*/
